<!-- src/app/about/about.component.html -->

<div class="container mt-4 bg-light">
    <div class="row">
      <div class="col-md-6">
        <h2>About RouteBook</h2>
        <p style="font-family:Verdana, Geneva, Tahoma, sans-serif; ">
          A single platform to publish and share routes for road trips – use and publish the best routes across the world with many interesting places, photos, ratings & reviews.

        </p>
        <p style="font-family:Verdana, Geneva, Tahoma, sans-serif; ">
          Web Application that Helps Users Browse and Create Road Trips Around the World.

        </p>
      </div>
      <div class="col-md-6">
        <img src="assets/images/about.webp" alt="Grocery Shop Image 1" width="75%" height="40%" class="img-fluid rounded">
      </div>
    </div>
  
    <div class="row mt-4">
      <div class="col-md-6">
        <img src="assets/images/about1.webp" alt="Grocery Shop Image 2" width="80%" height="30%" class="img-fluid rounded">
      </div>
      <div class="col-md-6">
        <h3></h3>
        <p style="font-family:Verdana, Geneva, Tahoma, sans-serif; ">
          In this application , We can search   the Route for the road trips.
          We  can  add  the favourite route for the road trip.
          We can give the reviews on  road  trips 
        </p>
        <p style="font-family:Verdana, Geneva, Tahoma, sans-serif; ">
          Web Application that Helps Users Browse and Create Road Trips Around the World.

      </div>
    </div>
  </div>
  