    <nav>
          <input type="checkbox" id="check">
          <label for="check" class="checkbtn"></label>
          <label class="logo">RouteBook</label>
          <ul>
            <li><a routerLink="home">Home</a></li>
            
            <li>
                <a routerLink="search">search</a>
            </li>
           
            <li>
                <a  routerLink="addroute">AddUser</a>
            </li>
            
           
            <li><a routerLink="blog">Blog</a></li> 
            <li><a routerLink="about">About Us</a></li>
            <li><a routerLink="contact">Contact Us</a></li>
         
              
        </ul>
        </nav>
        
    
