<body>
    </body>
    <nav>
          <input type="checkbox" id="check">
          <label for="check" class="checkbtn"></label>
          <label class="logo">RouteBook</label>
          <ul>
            <li><a routerLink="home">Home</a></li>
            
            <li>
                <a routerLink="search">search</a>
            </li>
           
            <li>
                <a routerLink="route">AddRoute</a>
            </li>
            
            <li>
               <a routerLink="favourite">AddFavourite</a>
            </li>
            
            <li><a routerLink="about">About Us</a></li>
         
        </ul>
        </nav>
        
    <img src="../../assets/photo2.avif"  height="550px" width="100%">
